.head section{
    display: flex;
    margin-left: 10%;
}

/*en-tête*/
.linkContainer{
    display: flex;
    min-height: 5%;
    flex: 1;
    justify-content: space-around;
    margin-left: 40%;
    margin-right: 10%;
}



