section {
    text-align: center;
    margin-top: 5%;
    background-color: #13102D;
}

.formulaire {
    text-align: center;   
}

button {
    background-color: #EC9224;
    color: white;
    border: 0px;
}

input {
    background-color: #272645; 
    border: 0;
}

form {
    background-color: #13102D;
}

html {
    background-color: #13102D;
}

.banner {
    width: 100%;
    height: 200px;
    background-image: url(image/realbanner.png_large);
    text-align: center;
    color: white;
    align-items: center;
    padding-top: 70px;
    font-family: ui-rounded;
    font-size: 20px;
}

h1 {
    margin-top: 3%;
}

.banniere {
    background-image: url(image/b1a87cf5-e99e-4595-8b73-ac0e003718b6.jpg);
    height: 350px;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 80px;
    background-position: center;
    background-size: cover;
   
}

.jouer {
    text-align: center;
    margin-top: -20%;
 }

.images {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10%;
}

.images img{
    width: 300px;
    height: 250px;
    margin-right: 5%;
    margin-top: 20%;
}

.principale {
    display: flex;
    justify-content: space-around;
}

.secondaire {
    display: flex;
    justify-content: center;
}

.chiffre1{
    display: flex;
    color: violet;
    align-items: center;
}

.chiffre2{
    display: flex;
    color: violet;
    align-items: center;
    
}

.chiffre3{
    display: flex;
    color: violet;
    align-items: center;
}

.texte1{
    display: flex;
    color: violet;
    align-items: center;
    
}

.texte2{
    display: flex;
    color: violet;
    align-items: center;
}

.texte3{
    display: flex;
    color: violet;
    align-items: center;
}

.gta {
  margin-left: 20%;
  margin-top: 12%;
}

.violet1 {
    background-image: url(image/violet.jpeg);
    height: 100px;
    width: 150px;
    margin-left: 60%;
    margin-top: -17%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.bleuneon1 {
    background-image: url(image/bleu\ néon.avif);
    height: 100px;
    width: 150px;
    margin-left: 60%;
    margin-top: 1%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.violet2 {
    background-image: url(image/violet.jpeg);
    height: 100px;
    width: 150px;
    margin-left: 73%;
    margin-top: -7%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.bleuneon2 {
    background-image: url(image/bleu\ néon.avif);
    height: 100px;
    width: 150px;
    margin-left: 73%;
    margin-top: -15%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}


.ecriture1{
    padding-top: 3%;
}
.A1 {
    margin-bottom: 0;
}

.A2 {
    margin-top: 0;
}

.ecriture2 {
    padding-top: 3%;
}

.B1 {
    margin-bottom: 0;
}

.B2 {
    margin-top: 0;
}

.ecriture3 {
    padding-top: 3%;
}

.B3 {
    margin-bottom: 0;
}

.B4 {
    margin-top: 0;
}

.ecriture4 {
    padding-top: 3%;
}

.A3 {
    margin-bottom: 0;
}

.A4 {
    margin-top: 0;
}
.presentation {
    margin-top: 17%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.profil {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.noir1 {
    display: flex;
   height: 400px;
   width: 250px;
   opacity: 0.50;
}

.photodeprofil {
    display: flex;
    justify-content: space-around;
}

.pdp1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -23%;
    filter: brightness(1);
}

.prenom1 {
    color: #0ad6ff;
    text-align: center;
    margin-top: -15%;
    filter: brightness(1);
}

.prenom2 {
    color: #0ad6ff;
    text-align: center;
    margin-top: -2.8%;
    margin-right: 66.5%;
    filter: brightness(1);
}

.prenom3 {
    color: #0ad6ff;
    text-align: center;
    margin-top: -2.8%;
    margin-left: 66.5%;
    filter: brightness(1);
}