.foot {
  display: flex;
  color: white;
  justify-content: space-evenly;
  background-color: #0d0b26;
  margin-top: 10%;
  padding-top: 6%;
}

span {
  color: orange;
}

ul {
  color: orange;
  list-style-type: square;
}

.li {
  color: white;
}
