.head{
  position: fixed;
  top: 0;
  width: 100%;
}

.head section {
  display: flex;
  color: white;
}

.linkContainer {
  display: flex;
  min-height: 5%;
  justify-content: flex-end;
  margin-left: 10%;
  flex: 1;
  justify-content: space-around;
  margin-left: 40%;
  margin-right: 10%;
  align-items: center;
}

.head section p {
  color: white;
}

.active {
  color: orange;
  font-weight: bold;
}